.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.categoy-title {
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
}
