.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  background: rgb(250, 250, 250);

  .logo-container {
    height: 80%;
    width: 70px;
    padding: 5px 0 20px 20px;
    // margin-bottom: 20px;
  }

  .logo {
    width: 180%;
    margin: 0 0 0 1vw;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5vw 0 0;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

.center-align {
  text-align: center;
}

.auth-margin {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .sign-up-container {
    display: block;
  }

  .auth-margin {
    display: grid;
    place-items: center;
    text-align: center;
  }
}
